@charset "utf-8";
/*初始化*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ margin:0; padding:0}
body,button,input,select,textarea{ font:12px/1.25 Tahoma,Arial,sans-serif}
h1, h2, h3, h4, h5, h6 { font-weight:bold; color:#47555f; }
h1 { font-size:30px; line-height:150%; margin-bottom:5px; }
h2 { font-size:20px; margin-bottom:15px; }
h3 { font-size:14px; margin-bottom:10px; }
h4 { font-size:14px; margin-bottom:5px; }
h5 { font-size:12px; margin-bottom:5px; }
h6 { font-size:12px; font-weight:normal; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin:0; }
ul,ol,li{ list-style: none; }
ul,ol,dl{ margin:0; padding:0; zoom:1; _height:1%; }
body { color: #47555f}
fieldset,img{ border:0}
button,input,select,textarea{ font-size:100%}
table{ border-collapse:collapse; border-spacing:0}
img{ vertical-align:top; display:inline-block;}
object,embed{ outline:0; vertical-align: middle;}
p{ line-height:1.6;}
textarea,div,p{word-wrap: break-word; }
iframe{border:none;}
/*链接*/
a:link     { color:#008fd2; text-decoration:none; }
a:visited { color:#008fd2; text-decoration:none; }
a:hover   { text-decoration:underline;}
a:active  { color:#008fd2; }

/*分隔线*/
hr{ clear:both; margin:5px 0; *margin:0; border-width:0; border-top:1px solid #E1E1E1; border-bottom:1px solid #FFFFFF; height:2px; overflow:hidden; }
/*清除浮动*/
.clearfix:after, #container:after, ul:after ,ol:after{ content:" "; display:block; height:0; clear:both; visibility:hidden; }
.clearfix, #container { display:inline-block; }
*html .clearfix{ height:1%; }
.clearfix, #container { display:block; }
/*公用类*/
.clear { clear:both; }
.f12 { font-size: 12px}
.f14 { font-size: 14px}
.hidden { display: none}
.red { color: red}
.gray { color: gray!important}
.orange { color: #ee8a41!important}
.left { float: left; display:inline}
.right { float: right; display:inline}
.center { text-align: center; }
.valign_middle { vertical-align: middle;}
.bg_white{ background-color: white}
.bold { font-weight: bold;}
.text { padding: 2px 2px 4px; width: 230px; border:1px solid #cdcccb}

/*圆角*/
.r3 { -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px}
.r5 { -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
.r10 { -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; border-radius:10px}
.rt3 { -moz-border-radius:3px 3px 0 0; -khtml-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0}
.rt5 { -moz-border-radius:5px 5px 0 0; -khtml-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0}
.rt10 { -moz-border-radius:10px 10px 0 0; -khtml-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0}
.rb3 { -moz-border-radius:0 0 3px 3px; -khtml-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; border-radius:0 0 3px 3px}
.rb5 { -moz-border-radius:0 0 5px 5px; -khtml-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px}
.rb10 { -moz-border-radius:0 0 10px 10px; -khtml-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px}
.rl3 { -moz-border-radius:3px 0 0 3px; -khtml-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px}
.rl5 { -moz-border-radius:5px 0 0 5px; -khtml-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; border-radius:5px 0 0 5px}
.rl10 { -moz-border-radius:10px 0 0 10px; -khtml-border-radius:10px 0 0 10px; -webkit-border-radius:10px 0 0 10px; border-radius:10px 0 0 10px}
.rr3 { -moz-border-radius:0 3px 3px 0; -khtml-border-radius:0 3px 3px 0; -webkit-border-radius:0 3px 3px 0; border-radius:0 3px 3px 0}
.rr5 { -moz-border-radius:0 5px 5px 0; -khtml-border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0}
.rr10 { -moz-border-radius:0 10px 10px 0; -khtml-border-radius:0 10px 10px 0; -webkit-border-radius:0 10px 10px 0; border-radius:0 10px 10px 0}
/*间距*/
.mt0 { margin-top:0}
.mt5 { margin-top:5px}
.mt10 { margin-top:10px}
.mt15 { margin-top:15px}
.mt20 { margin-top:20px}
.mt25 { margin-top:25px}
.mt30 { margin-top:30px}
.mt35 { margin-top:35px}
.mt40 { margin-top:40px}
.mt45 { margin-top:45px}
.mt50 { margin-top: 50px}
.mt60 { margin-top: 60px}
.mr0 { margin-right:0}
.mr5 { margin-right:5px}
.mr10 { margin-right:10px}
.mr15 { margin-right:15px}
.mr20 { margin-right:20px}
.mr25 { margin-right:25px}
.mr30 { margin-right:30px}
.mr35 { margin-right:35px}
.mr40 { margin-right:40px}
.mb0 { margin-bottom:0}
.mb5 { margin-bottom:5px}
.mb10 { margin-bottom:10px}
.mb15 { margin-bottom:15px}
.mb20 { margin-bottom:20px}
.mb25 { margin-bottom:25px}
.mb30 { margin-bottom:30px}
.mb35 { margin-bottom:35px}
.mb40{ margin-bottom:40px}
.mb50 { margin-bottom: 50px;}
.mb80{ margin-bottom:80px;}
.mb90 { margin-bottom: 90px;}
.mb150{ margin-bottom: 150px;}
.ml0 { margin-left:0}
.ml5 { margin-left:5px}
.ml10 { margin-left:10px}
.ml15 { margin-left:15px}
.ml20 { margin-left:20px}
.ml25 { margin-left:25px}
.ml30 { margin-left:30px}
.ml35 { margin-left:35px}
.ml40 { margin-left:40px}
.mlr5 { margin:0 5px 0 5px}
.mlr10 { margin:0 10px 0 10px}
.pt0 { padding-top:0}
.pt5 { padding-top:5px}
.pt10 { padding-top:10px}
.pt15 { padding-top:15px}
.pt20 { padding-top:20px}
.pt25 { padding-top:25px}
.pt30 { padding-top:30px}
.pt40 { padding-top:40px}
.pr0 { padding-right:0}
.pr5 { padding-right:5px}
.pr10 { padding-right:10px}
.pr15 { padding-right:15px}
.pr20 { padding-right:20px}
.pr25 { padding-right:25px}
.pr30 { padding-right:30px}
.pr35 { padding-right:35px}
.pb0 { padding-bottom:0}
.pb5 { padding-bottom:5px}
.pb10 { padding-bottom:10px}
.pb15 { padding-bottom:15px}
.pb20 { padding-bottom:20px}
.pb25 { padding-bottom:25px}
.pb30 { padding-bottom:30px}
.pb35 { padding-bottom:35px}
.pl0 { padding-left:0}
.pl5 { padding-left:5px}
.pl10 { padding-left:10px}
.pl15 { padding-left:15px}
.pl20 { padding-left:20px}
.pl25 { padding-left:25px}
.pl30 { padding-left:30px}
.pl35 { padding-left:35px}
.pl40 { padding-left:40px}
.plr10 { padding:0 10px}
.plr15 { padding:0 15px}
.pd10 { padding:10px}
.pd20 { padding:20px}
.pd40 { padding:40px}

/*按钮*/
button.btn_large{ width: 90px; height: 38px; border:none; font-size: 16px; font-weight: bold; text-align: center; color: #fff; background: url(../img/btn_b.png) no-repeat}
a.btn_large{ width: 90px; height: 38px; line-height: 38px; display:inline-block; _zoom:1; font-size: 16px; font-weight: bold; text-align: center; color: #fff; background: url(../img/btn_b.png) no-repeat}
.btn_large:hover { background-position: 0 -38px!important; text-decoration: none}
.btn_large:active { background-position: 0 -76px!important; }
button.btn_large_yellow{ width: 90px; height: 38px; border:none; font-size: 16px; font-weight: bold; text-align: center; color: #fff; background: url(../img/btn_b.png) 0 -114px 

no-repeat}
a.btn_large_yellow{ width: 90px; height: 38px; line-height: 38px; display:inline-block; _zoom:1; font-size: 16px; font-weight: bold; text-align: center; color: #fff; background: 

url(../img/btn_b.png) 0 -114px no-repeat}
.btn_large_yellow:hover { background-position: 0 -152px!important; text-decoration: none}
.btn_large_yellow:active { background-position: 0 -190px!important; }
button.btn_gray{ height: 25px; background: url(../img/btn_gray.png) repeat-x; padding: 0 10px; color: #ef8e43; border:1px solid #cdcccb; -webkit-border-radius: 2px; -moz-

border-radius: 2px; border-radius: 2px; }
a.btn_gray{ display: inline-block;_zoom:1; height: 25px; line-height: 25px; background: url(../img/btn_gray.png) repeat-x; padding: 0 10px; color: #ef8e43; border:1px solid 

#cdcccb; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
a.btn_cancel{ display: inline-block;_zoom:1; height: 26px;*height:21px; line-height: 25px; *line-height:15px;_line-height:18px;
padding: 0 19px;*padding-top:5px; color: #ef8e43;
background: url(../img/btn_gray.png) repeat-x;border:1px solid #cdcccb;
-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;_position:relative;}
button.btn_orange{ height: 22px; width: 57px; background: url(../img/sprite.png) -63px -250px no-repeat;  color: #fff; text-align: center; border: none; cursor: pointer;}
a.btn_orange{display: inline-block;_zoom:1; height: 22px; width: 57px; background: url(../img/sprite.png) -63px -250px no-repeat;  color: #fff; text-align: center; border: none; 

cursor: pointer;}


.notice { font-size: 14px; color: #008fd2;}
/*表单*/
.form_horizontal{ }
.form_horizontal .control_group { margin-bottom: 14px; *zoom: 1; }

.form_horizontal .control_group:before,
.form-horizontal .control_group:after { display: table; line-height: 0; content: ""; }

.form_horizontal .control_group:after { clear: both; }

.form_horizontal .control_label { float: left; width: 160px; line-height: 22px; text-align: right; }

.form_horizontal .controls { *display: inline-block; *padding-left: 20px; margin-left: 170px; *margin-left: 0; line-height: 22px}


/*表单提示信息*/
.help_inline { font-size: 12px; color: #a0a0a0}
.help_inline_phone { font-size: 12px; color: #c5c5c5}
.error_inline {line-height: 22px!important;padding: 3px 6px 4px 22px;_padding-top:6px;  background:#fff799 url(../img/icon_error.png) 5px center no-repeat;margin-left: 10px; 

font-size: 12px; color: #be0000;}
.notice_inline {padding: 3px 6px 4px 22px;  _padding-top:6px;background:#fff6de url(../img/icon_notice.png) 5px center no-repeat; font-size: 12px; color: #dc6200;}
.right_inline {_zoom:1;padding: 3px 6px 4px 22px;background:url(../img/icon_right.png) 5px center no-repeat;_background-position:5px 10px; font-size: 12px;*position:absolute;}

.text_tips h3 { font-weight: normal; margin: 80px 0 12px}
.text_tips ul { margin: 0 0 0 8px; color: #7d7d7d}
.text_tips li { line-height: 22px}

/*弹出窗口k*/
.simple_overlay { display: none; z-index:9999;border:5px solid #008fd2; background: #fff; min-height: 100px; min-width: 460px;_width:460px;-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.simple_overlay .trans_layer{position:absolute;z-index: 1;
border-radius: 8px;left: -6px;
top: -6px;width:458px;*width:472px;height:371px;*height:385px;background: #000000;opacity:0.2;filter:alpha(opacity=20)}
.simple_overlay .cont { padding: 10px 20px 20px}
.simple_overlay .close{ background-image: url(../img/dialog_close.png); position: absolute; right: 8px; top: 8px;z-index: 3; cursor: pointer; height: 13px; width: 13px; }
.simple_overlay .title{background: #F3F3F3;
height: 30px; 
line-height: 30px;
font-weight: 700;
padding: 0 0 0 20px;
color: #595959;
font-size: 12px;
vertical-align: middle;}
/* 第三方登录  */
.trans_layer{ display:inline-block;float: left;margin-top: -1px;*margin-top:3px;}
.trans_layer a.sina,.trans_layer a.tencent_qq{ display: inline-block;margin-right: 12px;padding:0; width: 21px;height: 20px;background-image: url(../img/index/icon_tp.png);vertical-align: middle;}
.trans_layer a.sina{ background-position: -3px -2px;_background-position: -2px -2px;}
.trans_layer a.tencent_qq{ background-position: 24px -2px;}
/* 第三方登录  end*/
/*弹出层第三方登录*/
.popup_layer{ margin:24px 0 0 68px;}
.popup_layer span.login_txt{ display:block;margin-bottom: 10px;}
/*弹出层第三方登录end*/
 